<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.PhotoCommentMapper">
	<insert id="insertComment">
		insert into comment_photo (bno, comment, writer, pass, secret, star, file) values ( 0, #{comment}, #{writer}, #{pass}, #{secret}, '*', #{file} )
	</insert>
	<select id="checkPass" resultType="PhotoCommentVO">
		select pass from comment_photo where cno = #{cno}
	</select>
	<select id="selectAllComment" resultType="PhotoCommentVO">
		select * from comment_photo order by cno desc
	</select>
	<update id="updateComment">
		update comment_photo set comment = #{comment}, file = #{file} where cno = #{cno}
	</update>
	<delete id="deleteComment">
		delete from comment_photo where cno = #{cno}
	</delete>
	<select id="selectLimitComment" resultType="PhotoCommentVO">
		select * from comment_photo order by cno desc limit 2
	</select>
</mapper>